.delete-button {
    margin-left: 1rem;
}

.list-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item:hover {
    background-color: #c7e5eb;
    cursor: pointer;
}

.check-box {
    vertical-align: middle !important;
}